body{
    background-color: #f1f3f6;
}
h1{
    text-align: center;
    margin: 10px;
}
.mobiles{
    width: 50%;
}
.mobiles-parent{
    padding-left: 33%;
    padding-top: 10%;
}
.televisions{
    width: 100%;
}
.televisions-parent{
    padding-left: 0%;
}
.refrigerators{
    width: 40%;
}
.refrigerators-parent{
    padding-left: 38%;
}
.washing-machines{
    width: 55%;
}
.washing-machines-parent{
    padding-left: 30%;
}
.home-kitchen{
    width: 100%;
}
.home-kitchen-parent{
    padding-left: 0%;
    padding-top: 10%;
}
.home-kitchen-big{
    width: 85%;
}
.home-kitchen-big-parent{
    padding-left: 15%;
    /* padding-top: 10%; */
}
.watches{
    width:68%;
}
.watches-parent{
    padding-left: 75px;
    padding-top: 10px;
}
.card-body-modified{
    position: absolute;
    left: 5%;
    bottom: 5%;
}
h5{
    color: white;
}
ul{
    margin-top: 10px;
}
#cartBtn{
    color:#26a541;
}
#cartBtn:hover{
    color:white;
}
#alignHorizontalImage{
    margin-top: 50%
}